<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceRecepcion" allowCookies="true"
                    maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IServicePropietarioReglaRecepcion"
                    allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IServiceRecepcionInfraccion"
                    allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IServiceProductoPresentacion"
                    allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IPropietarioDestinatario" />
                <binding name="BasicHttpBinding_IPropietarioDestinatario1" />
                <binding name="BasicHttpBinding_IServiceProductoPresentacion1" />
                <binding name="BasicHttpBinding_IPropietarioDestinatario2" />
                <binding name="BasicHttpBinding_IServiceOrdenCompra" />
                <binding name="BasicHttpBinding_IServicePropietarioReglaRecepcion1" />
                <binding name="BasicHttpBinding_IServiceRecepcionInfraccion1" />
                <binding name="BasicHttpBinding_IServiceRecepcion1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4180/Recepcion/ServiceRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRecepcion"
                contract="WCFRecepcion.IServiceRecepcion" name="BasicHttpBinding_IServiceRecepcion" />
            <endpoint address="http://localhost:4180/Propietario_Regla_Recepcion/ServicePropietarioReglaRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePropietarioReglaRecepcion"
                contract="WCFPropietarioReglaRecepcion.IServicePropietarioReglaRecepcion"
                name="BasicHttpBinding_IServicePropietarioReglaRecepcion" />
            <endpoint address="http://localhost:4180/Recepcion_Infraccion/ServiceRecepcionInfraccion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRecepcionInfraccion"
                contract="WCFRecepcionInfraccion.IServiceRecepcionInfraccion"
                name="BasicHttpBinding_IServiceRecepcionInfraccion" />
            <endpoint address="http://localhost:4180/Producto_Presentacion/ServiceProductoPresentacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProductoPresentacion"
                contract="WCFProductoPresentacion.IServiceProductoPresentacion"
                name="BasicHttpBinding_IServiceProductoPresentacion" />
            <endpoint address="http://localhost:4180/Propietario_Destinatario/PropietarioDestinatario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropietarioDestinatario"
                contract="WCFPropietarioDestinatario.IPropietarioDestinatario"
                name="BasicHttpBinding_IPropietarioDestinatario" />
            <endpoint address="http://localhost:4180/Propietario_Destinatario/PropietarioDestinatario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropietarioDestinatario1"
                contract="WCFPropietarioDestinatario.IPropietarioDestinatario"
                name="BasicHttpBinding_IPropietarioDestinatario1" />
            <endpoint address="http://localhost:4180/Producto_Presentacion/ServiceProductoPresentacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProductoPresentacion1"
                contract="WCFProductoPresentacion.IServiceProductoPresentacion"
                name="BasicHttpBinding_IServiceProductoPresentacion1" />
            <endpoint address="http://localhost:4180/Propietario_Destinatario/PropietarioDestinatario.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropietarioDestinatario2"
                contract="WCFPropietarioDestinatario.IPropietarioDestinatario"
                name="BasicHttpBinding_IPropietarioDestinatario2" />
            <endpoint address="http://localhost:4180/Orden_Compra/ServiceOrdenCompra.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOrdenCompra"
                contract="WCFOrdenCompra.IServiceOrdenCompra" name="BasicHttpBinding_IServiceOrdenCompra" />
            <endpoint address="http://localhost:4180/Propietario_Regla_Recepcion/ServicePropietarioReglaRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePropietarioReglaRecepcion1"
                contract="WCFPropietarioReglaRecepcion.IServicePropietarioReglaRecepcion"
                name="BasicHttpBinding_IServicePropietarioReglaRecepcion1" />
            <endpoint address="http://localhost:4180/Recepcion_Infraccion/ServiceRecepcionInfraccion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRecepcionInfraccion1"
                contract="WCFRecepcionInfraccion.IServiceRecepcionInfraccion"
                name="BasicHttpBinding_IServiceRecepcionInfraccion1" />
            <endpoint address="http://localhost:4180/Recepcion/ServiceRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRecepcion1"
                contract="WCFRecepcion.IServiceRecepcion" name="BasicHttpBinding_IServiceRecepcion1" />
        </client>
    </system.serviceModel>
</configuration>