@{
    string userName = Context.Session.GetString("userName");
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/favicon.ico">
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/devextreme/jszip.min.js"></script>
    <script src="~/Js/devextreme/dx.all.js"></script>
    <script src="~/Js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/Js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/localization/dx.messages.es.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.1"></script>
    <!-- Para exportar a Excel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <!-- Para exportar a PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top px-3" style="background-color: #3b5999">
        <button class="btn btn-sm text-white" id="menuKpp">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <a class="ms-3 navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.png" alt="Logo" style="height:30px; width: 30px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Sesion" asp-action="Logout">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="d-flex" id="wrapper">
        <div class="bg-light border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom">
                <div class="row m-0 pb-0">
                    <div class="col-3 p-0">
                        <img src="~/img/boy.svg"
                             title="Admin"
                             alt="Logo"
                             style="height: 50px;"
                             class="rounded-sm">
                    </div>

                    <div class="col-9 ps-3 pe-0 pt-2">
                        <p class="p-0 m-0" style="line-height: 18px;">
                            <small>@userName</small>
                        </p>
                        <p class="p-0 m-0" style="line-height: 18px;">
                            <small>Conectado</small>
                        </p>
                        <div class="radio-online"></div>
                        <p class="p-0 m-0" style="line-height: 18px;">
                            @*<small><b>Rol de usuario</b></small>*@
                        </p>
                    </div>
                </div>
                <div class="input-group mt-1">
                    <input type="search"
                           class="form-control form-control-sm"
                           placeholder="Buscar"
                           aria-label="Buscar"
                           aria-describedby="cp">

                    <button class="btn btn-secondary btn-sm" type="button" id="cp" v-bind:disabled="bMenu" @@click="getMenu">
                        <i class="fa fa-search"></i>
                    </button>

                </div>
            </div>
            <div class="sidebar-body pb-5">

                <div class="text-center" v-if="bMenu">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <template v-else>
                    <ul class="nav flex-column">
                        <menu-opciones :lista="lista"
                                       :ide="`main`" />
                    </ul>
                </template>
            </div>
        </div>

        <div id="page-content-wrapper">
            <main role="main" class="container-fluid pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <template id="menu-opciones">
        <div>
            <ul class="nav flex-column knavul"
                :id="ide"
                :style="{display: ide == 'main' ? 'block': 'none'}"
                v-bind:class="{'ps-0': ide == 'main', 'ps-3': ide != 'main'}">

                <li class="nav-item knavItem" v-for="menu in lista">
                    <a :href="menu.enlace && !menu.opciones.length > 0 ? menu.enlace ? `${baseUrl}/${menu.enlace.trim()}`: 'javascript:;': `javascript:;`"
                       class="knav-link"
                       v-bind:class="menu.opciones.length > 0 ?`kmenu`: `kopcion`"
                       @@click="toggleOpciones(menu.idPortalMenu)">
                        <i v-bind:class="menu.icono" class="fa-fw"></i> {{ menu.nombre }}
                    </a>
                    <menu-opciones :lista="menu.opciones" :ide="`menu-opciones-${menu.idPortalMenu}`" />
                </li>
            </ul>
        </div>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="~/js/Wms.js" asp-append-version="true"></script>
    <script src="~/js/Menu.js" asp-append-version="true"></script>
    <script src="~/js/Mixins/Catalogo.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
