<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TOMWMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CST" value="Data Source=DESARROLLO7-PC;Initial Catalog=IMS4MB_QA;Persist Security Info=True;User ID=sa;Password=sysadm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <TOMWMS.My.MySettings>
      <setting name="DynamicsNavInterface_WSFichaBodegas_Ficha_Bodegas_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Ficha_Bodegas</value>
      </setting>
      <setting name="DynamicsNavInterface_wsProductos_Productos_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSProveedores_Proveedores_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Proveedores</value>
      </setting>
      <setting name="DynamicsNavInterface_WSPedidoCompra_Pedidos_Compra_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Pedidos_Compra</value>
      </setting>
      <setting name="DynamicsNavInterface_WsPedidoTransferencia_Pedidos_Transferencia_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Pedidos_Transferencia</value>
      </setting>
      <setting name="DynamicsNavInterface_wsCategoriasProductos_Categorias_Productos_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Categorias_Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSGruposProductos_Grupos_Productos_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Grupos_Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraRecepcionCompra_Registra_Recepcion_Compra"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Recepcion_Compra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraTransferEnvio_Registra_Transfer_Envio"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Transfer_Envio</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraTransferRecepcion_Registra_Transfer_Recepcion"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Transfer_Recepcion</value>
      </setting>
      <setting name="DynamicsNavInterface_WSNavLotePedidoCompra_Lote_PedidoCompra"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Lote_PedidoCompra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSNavCantidadRecibirPedidoCompra_CantidadRecibir_PedidoCompra"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadRecibir_PedidoCompra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSLotePedidoTransferencia_Lote_PedidoTransferencia"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Lote_PedidoTransferencia</value>
      </setting>
      <setting name="DynamicsNavInterface_WSCantidadPedidoTransferencia_CantidadEnviar_PedidoTransferencia"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadEnviar_PedidoTransferencia</value>
      </setting>
      <setting name="NavSync_wsTablaConversiones_Tabla_Conversiones_Service"
        serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Tabla_Conversiones</value>
      </setting>
      <setting name="NavSync_wsAjusteInventario_Ajustes_Inventario"
        serializeAs="String">
        <value>http://navcopy.byb.gt:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Ajustes_Inventario</value>
      </setting>
      <setting name="NavSync_WSPaginaLotes_Pagina_lotes_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Pagina_lotes</value>
      </setting>
      <setting name="usuariows" serializeAs="String">
        <value>wmsbodega1</value>
      </setting>
      <setting name="clavews" serializeAs="String">
        <value>31/05+Byb</value>
      </setting>    
      <!--<setting name="usuariows" serializeAs="String">
        <value>ccalidaddts</value>
      </setting>
      <setting name="clavews" serializeAs="String">
        <value>26qa/06+17*</value>
      </setting>-->
    </TOMWMS.My.MySettings>
  </userSettings>
</configuration>