<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOMWMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOMWMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Clientes_Binding" />
        <binding name="Crea_picking_Binding" />
        <binding name="Crea_picking_Binding1" />
        <binding name="Crea_picking_Binding2" />
        <binding name="Devolucion_Binding" />
        <binding name="Dimensiones_Binding" />
        <binding name="TOMHHWSSoap" />
        <binding name="TOMHHWSSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="TOMHHWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="TOMHHWSSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://168.194.73.242:50601/DynamicsNAV110/WS/PRALCASA/Page/Clientes" binding="basicHttpBinding" bindingConfiguration="Clientes_Binding" contract="WSClientes.Clientes_Port" name="Clientes_Port" />
      <endpoint address="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Crea_picking" binding="basicHttpBinding" bindingConfiguration="Crea_picking_Binding" contract="WSCreaPicking.Crea_picking_Port" name="Crea_picking_Port" />
      <endpoint address="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Crea_picking" binding="basicHttpBinding" bindingConfiguration="Crea_picking_Binding1" contract="WSCreaPikcing.Crea_picking_Port" name="Crea_picking_Port1" />
      <endpoint address="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Crea_picking" binding="basicHttpBinding" bindingConfiguration="Crea_picking_Binding2" contract="WSCreaPicking.Crea_picking_Port" name="Crea_picking_Port2" />
      <endpoint address="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Devolucion" binding="basicHttpBinding" bindingConfiguration="Devolucion_Binding" contract="WSDevolucion.Devolucion_Port" name="Devolucion_Port" />
      <endpoint address="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Dimensiones" binding="basicHttpBinding" bindingConfiguration="Dimensiones_Binding" contract="WSDimensiones.Dimensiones_Port" name="Dimensiones_Port" />
      <endpoint address="http://10.10.20.181/WCFTOM4/tomhhws.asmx" binding="basicHttpBinding" bindingConfiguration="TOMHHWSSoap" contract="wsTOMHH.TOMHHWSSoap" name="TOMHHWSSoap" />
      <endpoint address="http://10.10.20.181/WCFTOM4/tomhhws.asmx" binding="customBinding" bindingConfiguration="TOMHHWSSoap12" contract="wsTOMHH.TOMHHWSSoap" name="TOMHHWSSoap12" />
      <endpoint address="http://10.10.20.181/WCFTOM4/tomhhws.asmx" binding="basicHttpBinding" bindingConfiguration="TOMHHWSSoap1" contract="wsTOMHH.TOMHHWSSoap" name="TOMHHWSSoap1" />
      <endpoint address="http://10.10.20.181/WCFTOM4/tomhhws.asmx" binding="customBinding" bindingConfiguration="TOMHHWSSoap121" contract="wsTOMHH.TOMHHWSSoap" name="TOMHHWSSoap121" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <userSettings>
    <TOMWMS.My.MySettings>
      <setting name="DynamicsNavInterface_WSFichaBodegas_Ficha_Bodegas_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Ficha_Bodegas</value>
      </setting>
      <setting name="DynamicsNavInterface_wsProductos_Productos_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSProveedores_Proveedores_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Proveedores</value>
      </setting>
      <setting name="DynamicsNavInterface_WSPedidoCompra_Pedidos_Compra_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Pedidos_Compra</value>
      </setting>
      <setting name="DynamicsNavInterface_WsPedidoTransferencia_Pedidos_Transferencia_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Pedidos_Transferencia</value>
      </setting>
      <setting name="DynamicsNavInterface_wsCategoriasProductos_Categorias_Productos_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Categorias_Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSGruposProductos_Grupos_Productos_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Grupos_Productos</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraRecepcionCompra_Registra_Recepcion_Compra" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Recepcion_Compra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraTransferEnvio_Registra_Transfer_Envio" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Transfer_Envio</value>
      </setting>
      <setting name="DynamicsNavInterface_WSRegistraTransferRecepcion_Registra_Transfer_Recepcion" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Registra_Transfer_Recepcion</value>
      </setting>
      <setting name="DynamicsNavInterface_WSNavLotePedidoCompra_Lote_PedidoCompra" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Lote_PedidoCompra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSNavCantidadRecibirPedidoCompra_CantidadRecibir_PedidoCompra" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadRecibir_PedidoCompra</value>
      </setting>
      <setting name="DynamicsNavInterface_WSLotePedidoTransferencia_Lote_PedidoTransferencia" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/Lote_PedidoTransferencia</value>
      </setting>
      <setting name="DynamicsNavInterface_WSCantidadPedidoTransferencia_CantidadEnviar_PedidoTransferencia" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadEnviar_PedidoTransferencia</value>
      </setting>
      <setting name="NavSync_wsTablaConversiones_Tabla_Conversiones_Service" serializeAs="String">
        <value>http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Tabla_Conversiones</value>
      </setting>
      <setting name="NavSync_wsAjusteInventario_Ajustes_Inventario" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Codeunit/Ajustes_Inventario</value>
      </setting>
      <setting name="NavSync_WSPaginaLotes_Pagina_lotes_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Pagina_lotes</value>
      </setting>
      <setting name="usuariows" serializeAs="String">
        <value>wmsbodega1</value>
      </setting>
      <setting name="clavews" serializeAs="String">
        <value>31/05+Byb</value>
      </setting>
      <setting name="NavSync_WSClientes_Clientes_Service" serializeAs="String">
        <value>http://168.194.73.242:50601/DynamicsNAV110/WS/PRALCASA/Page/Clientes</value>
      </setting>
      <setting name="NavSync_WSListaClientes_Lista_clientes_Service" serializeAs="String">
        <value>http://168.194.73.242:50601/DynamicsNAV110/WS/PRALCASA/Page/Lista_clientes</value>
      </setting>
      <setting name="NavSync_WSPedidosVenta_Pedidos_Service" serializeAs="String">
        <value>http://168.194.73.242:50601/DynamicsNAV110/WS/PRALCASA/Page/Pedidos</value>
      </setting>
      <setting name="NavSync_WSPedidosCliente_Pedidos_Service" serializeAs="String">
        <value>http://122.122.122.21:7047/DynamicsNAV110/WS/PRALCASA/Page/Pedidos</value>
      </setting>
      <setting name="NavSync_WSListaCliente_Lista_clientes_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Lista_clientes</value>
      </setting>
      <setting name="NavSync_WSSeries_Series_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Series</value>
      </setting>
      <setting name="NavSync_WSEnvioAlm_Envio_alm_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Envio_alm</value>
      </setting>
      <setting name="NavSync_WSOrdenesProduccion_OP_Lanzadas_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/OP_Lanzadas</value>
      </setting>
      <setting name="NavSync_CUWMS_CUWMS" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Codeunit/CUWMS</value>
      </setting>
      <setting name="NavSync_WSRecepcionesAlm_Recep_Almacen_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Recep_Almacen</value>
      </setting>
      <setting name="NavSync_WSCreaPicking_Crea_picking_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Crea_picking</value>
      </setting>
      <setting name="NavSync_WSDevolucion_Devolucion_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Devolucion</value>
      </setting>
      <setting name="NavSync_WSDiarioAlmacen_Diario_Almacen_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Diario_Almacen</value>
      </setting>
      <setting name="NavSync_wsDevolucionVenta_Devolucion_venta_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Devolucion_venta</value>
      </setting>
      <setting name="NavSync_WSPicking_Picking_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Picking</value>
      </setting>
      <setting name="NavSync_WSUbicarAlmacen_Ubicar_Almacen_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Ubicar_Almacen</value>
      </setting>
      <setting name="NavSync_WSUInternas_U_Internas_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/U_Internas</value>
      </setting>
      <setting name="NavSync_WSMovProductos_Mov_Productos_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Mov_Productos</value>
      </setting>
    </TOMWMS.My.MySettings>
  </userSettings>
  <applicationSettings>
    <TOMWMS.My.MySettings>
      <setting name="NavSync_WSDimensiones_Dimensiones_Service" serializeAs="String">
        <value>http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Dimensiones</value>
      </setting>
      <setting name="NavSync_WebReference_TOMHHWS" serializeAs="String">
        <value>http://10.10.20.181/WCFTOM4/tomhhws.asmx</value>
      </setting>
    </TOMWMS.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.83.1.0" newVersion="4.83.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>     
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.54.0.0" newVersion="1.54.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.21.0.0" newVersion="1.21.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.76.0.0" newVersion="4.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.16.0.0" newVersion="8.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.16.0.0" newVersion="8.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.16.0.0" newVersion="8.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.16.0.0" newVersion="8.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.16.0.0" newVersion="8.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Irony" publicKeyToken="ca48ace7223ead47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.3.0" newVersion="1.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.TimeProvider" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
