@{
    ViewData["Title"] = "Home Page";
    string userName = Context.Session.GetString("userName");
}

<div class="text-center">
    <h1 class="text-center">Bienvenido @userName</h1>
</div>

@section Scripts {
    <script src="~/js/Pages/Principal.js" asp-append-version="true"></script>
}