<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOMIMSV4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TOMIMSV4.My.MySettings.IMS4MB_QAConnectionStringPrograN" connectionString="Data Source=PROGRAN;Initial Catalog=IMS4MB_QA;Persist Security Info=True;User ID=sa;Password=sysadm" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CST" value="Data Source=52.32.154.252;Initial Catalog=IMS4MB_QA;Persist Security Info=True;User ID=dts;Password=dts" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMotivoUbicacion" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_ITransacionUbicacionHhDet" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IServiceDespacho" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4180/Despacho/ServiceDespacho.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDespacho" contract="WCFDespacho.IServiceDespacho" name="BasicHttpBinding_IServiceDespacho" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <TOMIMSV4.My.MySettings>
      <setting name="IMS4MB_ConnectionStringConfigurable" serializeAs="String">
        <value>Data Source=PROGRAN;Initial Catalog=IMS4MB_QA;Persist Security Info=True;User ID=sa;Password=sysadm</value>
      </setting>
    </TOMIMSV4.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>