<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceBodega" />
                <binding name="BasicHttpBinding_IServiceProducto" />
                <binding name="BasicHttpBinding_IBarras_Pallet" />
                <binding name="BasicHttpBinding_IServiceProveedor" />
                <binding name="BasicHttpBinding_IServiceUnidadMedida" />
                <binding receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Text">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="BasicHttpBinding_IServiceProveedorBodega" />
                <binding name="BasicHttpBinding_ITransaccionesOut" />
                <binding name="BasicHttpBinding_IsrvUsuario" />
                <binding name="BasicHttpBinding_IsrvReportes" />
                <binding name="BasicHttpBinding_IServicePropietario" />
                <binding name="BasicHttpBinding_IPedidoCompra" />
                <binding name="TOMHHWSSoap" />
                <binding name="BasicHttpBinding_IPedidoCliente" />
                <binding name="BasicHttpBinding_IServiceProducto2" />
                <binding name="BasicHttpBinding_IServiceCliente" />
                <binding name="BasicHttpBinding_IServiceProductoBodega" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TOMHHWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.125.28/MI3/Unidad_Medida/ServiceUnidadMedida.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUnidadMedida" contract="srvUnidadMedida.IServiceUnidadMedida" name="BasicHttpBinding_IServiceUnidadMedida" />
            <endpoint address="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceBodega" contract="svBodega.IServiceBodega" name="BasicHttpBinding_IServiceBodega" />
            <endpoint address="http://52.41.114.122/MI3/Usuario/srvUsuario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvUsuario" contract="srvUsuario.IsrvUsuario" name="BasicHttpBinding_IsrvUsuario" />
            <endpoint address="http://192.168.0.13/MI3/Proveedor/ServiceProveedor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProveedor" contract="srvProveedor.IServiceProveedor" name="BasicHttpBinding_IServiceProveedor" />
            <endpoint address="http://192.168.0.13/MI3/Proveedor_Bodega/ServiceProveedorBodega.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProveedorBodega" contract="srvProveedorBodega.IServiceProveedorBodega" name="BasicHttpBinding_IServiceProveedorBodega" />
            <endpoint address="http://192.168.0.13/MI3/Reportes/srvReportes.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvReportes" contract="srvReportes.IsrvReportes" name="BasicHttpBinding_IsrvReportes" />
            <endpoint address="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePropietario" contract="srvPropietario.IServicePropietario" name="BasicHttpBinding_IServicePropietario" />
            <endpoint address="http://localhost:60909/TOMHHWS.asmx" binding="basicHttpBinding" bindingConfiguration="TOMHHWSSoap" contract="WSHH.TOMHHWSSoap" name="TOMHHWSSoap" />
            <endpoint address="http://192.168.0.98/MI3/Barras_Pallet/Barras_Pallet.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBarras_Pallet" contract="srvBarrasPallet.IBarras_Pallet" name="BasicHttpBinding_IBarras_Pallet" />
            <endpoint address="http://192.168.0.98/MI3/Transacciones/PedidoCompra.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoCompra" contract="srvPedidoCompra.IPedidoCompra" name="BasicHttpBinding_IPedidoCompra" />
            <endpoint address="http://192.168.0.98/MI3/Producto/ServiceProducto.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProducto" contract="srvProducto.IServiceProducto" name="BasicHttpBinding_IServiceProducto" />
            <endpoint address="http://192.168.142.173/MI3/Transacciones/TransaccionesOut.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransaccionesOut" contract="srvTransaccionesOut.ITransaccionesOut" name="BasicHttpBinding_ITransaccionesOut" />
            <endpoint address="http://192.168.101.131/MI3/Transacciones/PedidoCliente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoCliente" contract="srvPedidoCliente.IPedidoCliente" name="BasicHttpBinding_IPedidoCliente" />
            <endpoint address="http://192.168.0.3/MI3/Producto/ServiceProducto.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProducto2" contract="srvProducto3.IServiceProducto" name="BasicHttpBinding_IServiceProducto2" />
            <endpoint address="http://192.168.0.3/MI3/Cliente/Cliente/ServiceCliente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCliente" contract="srvCliente.IServiceCliente" name="BasicHttpBinding_IServiceCliente" />
            <endpoint address="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProductoBodega" contract="srvProductoBodega.IServiceProductoBodega" name="BasicHttpBinding_IServiceProductoBodega" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.76.0.0" newVersion="4.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.76.0.0" newVersion="4.76.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.47.3.0" newVersion="1.47.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.0.0" newVersion="1.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Irony" publicKeyToken="ca48ace7223ead47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.3.0" newVersion="1.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.TimeProvider" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
