
@{
    ViewData["Title"] = "Mantenimiento de menú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-mante-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fas fa-sitemap"></i> Menú</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar-menu"
                    aria-controls="navbar-menu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <form class="d-flex" v-on:submit.prevent="buscar">
                    <input class="form-control me-sm-2" type="search" placeholder="Nombre" aria-label="Nombre" v-model="listaTermino">
                    <button class="btn btn-info my-2 my-sm-0 me-sm-2" type="submit" v-bind:disabled="inicio">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn btn-sm btn-danger ms-auto" title="Cerar nueva opción">
                    <i class="fa fa-plus"></i> Nuevo
                </button>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 v-if="!reg && !form.padre">Nueva opción</h5>
                    <h5 v-else-if="!reg && form.padre">Nueva opción para {{ fopcion.nombre }}</h5>
                    <h5 v-else="reg && !form.padre">Opción {{ form.nombre }}</h5>
                </div>
                <div class="card-body">
                    <form v-on:submit.prevent="guardar">
                        <div class="form-group mb-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="mod-nombre" class="mb-0">Nombre: <span class="text-danger font-weight-bold">*</span></label>
                                    <input type="text" class="form-control" id="men-nombre" v-model="form.nombre" required>

                                </div>
                                <div class="col-lg-6">
                                    <label for="men-enlace" class="mb-0">Enlace:</label>
                                    <input type="text" class="form-control" id="men-enlace" v-model="form.enlace">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="men-icono" class="mb-0">Icono: </label>
                                    <input type="text" class="form-control" id="men-icono" v-model="form.icono">
                                    <small>
                                        Puedes buscar iconos
                                        <a href="https://fontawesome.com/icons?d=gallery&m=free" target="blank">aquí</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="custom-con mb-0trol custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" v-model="form.activo" id="customCheck1" :value-true="1" :value-false="0">
                                        <label class="custom-control-label" for="customCheck1"> Activo</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary" v-bind:disabled="btnGuardar">
                                        <span v-if="btnGuardar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <i class="fa fa-save" v-else></i> {{ btnGuardar ? 'Guardando...' : 'Guardar'}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group">
                <div class="list-group-item list-group-item-primary">
                    <h5 class="mb-0">Opciones</h5>
                </div>
                <div class="list-group-item">
                    <rama-opciones :datos="filtrada"
                                    @@edit-menu="editMenu"
                                    @@add-menu="addMenu"
                                    id="opciones-menu" />
                </div>
            </div>
        </div>
    </div>
</div>
<template id="rama-opciones">
    <ul class="list-group ms-2">
        <li v-for="row in datos" class="list-group-item pe-0">
            <span class="fa-fw" v-bind:class="row.icono" v-if="row.icono"></span> {{ row.nombre }}
            <a href="javascript:;"
               class="float-end"
               :title="`Editar la opción ${row.nombre}`"
               @@click="$emit('edit-menu', row)">
                <span class="fa fa-edit"></span>
            </a>
            <a href="javascript:;"
               class="float-end pe-2"
               :title="`Agregar opción a ${row.nombre}`"
               @@click="$emit('add-menu', row)">
                <span class="fa fa-plus"></span>
            </a>
            <rama-opciones :datos="row.opciones"
                           v-if="row.opciones"
                           @@edit-menu="editMenu"
                           @@add-menu="addMenu" />
        </li>
    </ul>
</template>


@section Scripts {
    <script src="~/js/Mixins/Accion.js" asp-append-version="true"></script>
    <script src="~/js/Pages/Mante/Menu.js" asp-append-version="true"></script>
}